body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #cdc1b4;
    border: 6px solid #bbada0;
    float: left;
    font-weight: 800;
    line-height: 34px;
    height: 100px;
    margin-right: -6px;
    margin-top: -6px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: auto;
}

.game-info {
    margin-left: 50px;
}

.game-board {
    position: relative;
}

.header {
    margin-bottom: 1rem;
}

.score {
    display: flex;
}

.last-step-score {
    margin-left: 0.5rem;
}

.game-over-notification {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__group {
    display: flex;
    justify-content: space-between;
}

.header__title {
    color: #787267;
    font-weight: bold;
    font-size: 70px;
    margin: 0;
}

.header__score-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1 100%;
    width: min-content;
}

.header__score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #baaea0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    margin-left: 10px;
}

.header__score-box__title {
    color: #eee4da;
}

.header__score-box__score {
    display: flex;
}

.header__score-box__score__last-step {
    margin-left: 0.5rem;
    font-size: 12px;
}

.header__button,
.game-over-notification__button {
    background: #8f7a66;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

.game-over-notification__title {
    color: #787267;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-align: center;
}
