.navigation {
    width: 100%;
    height: 2rem;
    display: flex;
}

.navigation_element {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border: 2px solid #bbada0;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
